body {
    /* background-color:black; */
    background-image: url(assets/berzerk-eclipser.jpg);
    background-attachment:fixed;
    background-size: cover;
    background-position: center;
}

h1 {
    text-align: center;
    color: red;
    font-size: 40px;
    font-family: Gigi;
}

p {
    text-align: justify;
    color: coral;
    font-size: 20px;
}

button {
    display: block;
    margin: 30px auto;
    background-color: black;
    border-radius: 20px;
}

a{
    display: block;
    color: white;
    text-decoration: none;
    margin: 7px;

}